
    <br/>
   <form method="post">

    <div class="input-field">
      <textarea id="title" name="title" class="materialize-textarea"></textarea>
      <label for="title">Message Title:</label>
    </div>
    <div class="input-field">
      <textarea id="message" name="message"
        class="materialize-textarea" rows="8"></textarea>
      <label for="message">Message:</label>
    </div>
    <br/>
    <div class="input-field center">
      <button class="btn waves-effect waves-light red lighten-2"
        type="submit">Submit</button>
    </div>
   </form>
