<!DOCTYPE html>
<html>

{{~> head}}

  <body>

   <nav class="page-header center">
      <header class="">Send your message to libnotify!</header>
   </nav>

   <main class="container">
{{~> form}}
   </main>

{{~> footer}}

  </body>
</html>